.Products {
  margin: 0 auto;
  h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 6px;
  }
}

@media screen and (min-width: 600px) {
  .Products {
    padding: 1rem;
    max-width: 1500px;
    .ProductsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      gap: 1rem;
    }
  }
}
